<h2><strong> Your coach answers</strong> </h2>
<<%= if @question = "I am going to work" %>>
<<%= Great! %>>
<<%= elsif @question = "?" %>>
<<%= "Silly question, get dressed and go to work!"  %>>
<<%= else %>>
<<%= "I don't care, get dressed and go to work!" %>>
